::root{
	--primary: #1cbbb4;
}
body{
	font-size: 14px;
}
*:not(.fa){
    font-family: 'Open Sans', sans-serif;
}
.bg-primary {
    background-color: #1cbbb4 !important;
}
.text-primary{
    color: #1cbbb4 !important;
}
.btn-primary {
    color: #fff;
    background-color: #1cbbb4;
    border-color: #1cbbb4;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0b9690;
    border-color: #0b9690;
}

.main-nav .nav-link{
	font-size: 16px;
	font-weight: 500;
	transition: 0.2s ease-in-out;
}
.main-nav .nav-item.active .nav-link,
.main-nav .nav-item:hover .nav-link{
	color: #1cbbb4;
	transition: 0.2s ease-in-out;
}


.carousel-indicators .active {
    background-color: #1cbbb4 !important;
}
.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 3px;
    height: 3px;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
    border-radius: 50%;
    padding: 3px;
    border: 4px solid #fff !important;
}
ol.carousel-indicators li:before {
    content: '';
    background: #0093ff;
    height: 10px;
    position: relative;
    width: 10px;
    margin-right: -19.9px;
    margin-top: 15.3px;
    border-radius: 50%;
}

.slider-img{
	box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
}