<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="dns-prefetch" href="//use.fontawesome.com">
    <script src="https://use.fontawesome.com/d39139a3d8.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Bohol Tour Valerie</title>
</head>
<body> 
    <nav class="navbar navbar-expand navbar-dark bg-primary py-1" style="z-index: 2;">  
        <div class="collapse navbar-collapse py-0">
            <div class="container">
                <ul class="navbar-nav flex-column flex-md-row flex-lg-row flex-xl-row">
                    <li class="nav-item mx-auto mx-md-0 mx-lg-0 mx-xl-0">
                        <span class="nav-link text-white py-0"><i class="fa fa-phone mr-1"></i> +63 948 735 1794</span>
                    </li> 
                    <li class="nav-item mx-auto mx-md-0 mx-lg-0 mx-xl-0">
                        <span class="nav-link text-white py-0"><i class="fa fa-envelope-o mr-1"></i> info@boholtourvalerie.com</span>
                    </li>  
                </ul> 
                
            </div>
        </div>
    </nav> 
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm py-0 main-nav">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="images/logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04"> 
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-uppercase px-4" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase px-4" href="tour_packages.html">Tour Packages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase px-4" href="rental_services.html">Rental Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase px-4" href="contact_us.php">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="section" id="bq-corporation">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"> 

              <ol class="carousel-indicators">
                <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                <li data-target="#carouselExampleControls" data-slide-to="2"></li>
              </ol>
            <div class="carousel-inner bg-primary" style="background:linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45) ),  url('{{ asset('images/bg2.png') }}');background-attachment: fixed;background-position: center; background-repeat: no-repeat; background-size: cover;" >
                <div class="carousel-item active" style="min-height: calc(100vh - 112px);"> 
                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 112px);">
                            <div class="col-md-5 text-center d-flex justify-content-center align-items-center">
                                <img src="images/img.png" class="w-75 rounded-circle bg-light slider-img bg-dark">
                            </div>
                            <div class="col-md-7">
                                <h2 class="font-weight-bold">Bohol Tour Valerie</h2>
                                <p class="text-white w-75" style="text-shadow: 0px 1px 3px #818181;line-height: 2em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis auctor elit sed vulputate mi sit amet. Enim facilisis gravida neque convallis a cras semper. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim.</p>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="carousel-item" style="min-height: calc(100vh - 112px);"> 
                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 112px);">
                            <div class="col-md-5 text-center d-flex justify-content-center align-items-center">
                                <img src="images/img.png" class="w-75 rounded-circle bg-light slider-img bg-dark">
                            </div>
                            <div class="col-md-7">
                                <h2 class="font-weight-bold">Bohol Tour Valerie</h2>
                                <p class="text-white w-75" style="text-shadow: 0px 1px 3px #818181;line-height: 2em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis auctor elit sed vulputate mi sit amet. Enim facilisis gravida neque convallis a cras semper. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim.</p>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="carousel-item" style="min-height: calc(100vh - 112px);"> 
                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 112px);">
                            <div class="col-md-5 text-center d-flex justify-content-center align-items-center">
                                <img src="images/img.png" class="w-75 rounded-circle bg-light slider-img bg-dark">
                            </div>
                            <div class="col-md-7">
                                <h2 class="font-weight-bold">Bohol Tour Valerie</h2>
                                <p class="text-white w-75" style="text-shadow: 0px 1px 3px #818181;line-height: 2em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis auctor elit sed vulputate mi sit amet. Enim facilisis gravida neque convallis a cras semper. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim.</p>
                            </div>
                        </div>
                    </div>
                </div>   
            </div> 
        </div>
    </div>

    <div class="section">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="my-5" style="font-family: 'Pacifico', cursive;">Tour Packages</h1>
                </div>
                <div class="col-md-12">
                    <div class="row justify-content-center">
                        <div class="col-md-3 mx-5"> 
                            <div class="card shadow" style="width: 18rem;">
                                <img src="images/tour1.png" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h5 class="card-title">
                                        <img src="images/t1.png">
                                    </h5>
                                    <p class="card-text"><small>Explore the natural and cultural wonders of Bohol with our Countryside Tour.</small></p>
                                    <a href="#" class="btn btn-primary btn-sm">CHECKOUT</a>
                                </div>
                            </div> 
                        </div>
                        <div class="col-md-3 mx-5"> 
                            <div class="card shadow" style="width: 18rem;">
                                <img src="images/tour2.png" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h5 class="card-title px-0">
                                        <img src="images/t2.png">
                                    </h5>
                                    <p class="card-text"><small>Hit the beaches of Panglao island as well as other places worth visiting.</small></p>
                                    <a href="#" class="btn btn-primary btn-sm">CHECKOUT</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container py-5 mb-5">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="mb-5" style="font-family: 'Pacifico', cursive;">Rental Services</h1>
                </div>
                <div class="col-md-12">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="media">
                                <div class="media-body text-right align-self-center">
                                    <h6 class="mt-0 font-weight-bold mb-0">Panglao Tour Rental</h6> P 2,500.00 Only
                                </div>
                                <img src="images/r1.png" class="mx-3 rounded-circle border-0 align-self-center"  alt="...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <img src="images/r2.png" class="mx-3 rounded-circle border-0 align-self-center"  alt="...">
                                <div class="media-body align-self-center">
                                    <h6 class="mt-0 font-weight-bold mb-0">Van/Auto Rental</h6> P 2,000.00 Only
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section bg-light py-4" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="font-weight-bold">BOHOL TOUR VALERIE</h6>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li class="mt-1">CPG Avenue,</li>
                        <li class="mt-1">Tagbilaran City</li>
                        <li class="mt-1">Bohol, 6300, Philippines</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li class="mt-1"><i class="fa fa-phone text-primary mr-1"></i> +63 948 735 1794</li>
                        <li class="mt-1"><i class="fa fa-phone text-light mr-1"></i> +63 965 566 0872</li>
                        <li class="mt-1">&nbsp;</li>
                        <li class="mt-1"><i class="fa fa-envelope text-primary mr-1"></i> info@booltourvalerie.com</li>
                    </ul>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>

    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
                <ul class="navbar-nav flex-column flex-md-row flex-lg-row flex-xl-row">
                    <li class="nav-item">
                        <span class="text-white">Copyright © 2019 Bohol Tour Valerie. All rights reserved.</span>
                    </li>
                    <li class="nav-item mr-auto ml-auto mr-md-0 mr-lg-0 mr-xl-0">
                        <span class="nav-link text-white py-0 d-inline-flex align-items-center justify-content-center">
                            <i class="fa fa-facebook mr-2 fs-17"></i>
                            <i class="fa fa-twitter mx-2 fs-17"></i>
                            <i class="fa fa-instagram mx-2 fs-17"></i>
                            <i class="fa fa-youtube mx-2 fs-17"></i>
                        </span>
                    </li> 
                </ul> 
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>